.Footer {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  max-height: 10vh;
  justify-content: space-between;
  padding: 0 10vh;
}

.startup-weekend {
  max-width: 30vh;
}
.techstars {
  max-width: 15vh;
}

.Footer p {
  color: black;
}

@media only screen and (max-width: 821px) {
  .Footer {
    flex-direction: column;
  }

  .footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2vh;
  }

  .startup-weekend {
    max-width: 15vh;
  }
  .techstars {
    max-width: 7vh;
  }
}
