.Nav {
  /* position: fixed;
  left: 0;
  top: 0;
  width: 95%; */
  display: flex;
  flex-direction: row;
  background-color: #081e3b;
  height: 17vh;
  color: #ffdd59;
  justify-content: space-between;
  padding: 0 10vh;
  border-radius: 10px;
  z-index: 1000;
}

h3 {
  color: #f8e4e7;
  font-weight: 250;
}

.logo {
  max-height: 100%;
}

.title {
  align-self: center;
}

.contact {
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .title {
    align-self: center;
  }

  .Nav {
    justify-content: center;
  }
  .Nav h3 {
    display: hidden;
    position: absolute;
    left: -999em;
  }
  .Nav .contact {
    display: hidden;
    position: absolute;
    left: -999em;
  }

  .soundToggle {
    display: hidden;
    position: absolute;
    left: -999em;
  }
}
