.Nav {
  display: flex;
  flex-direction: row;
  background-color: #081e3b;
  height: 17vh;
  color: #ffdd59;
  justify-content: space-between;
  padding: 0 10vh;
  border-radius: 10px;
}

h3 {
  color: #f8e4e7;
  font-weight: 250;
}

.logo {
  max-height: 100%;
}

.title {
  align-self: center;
}

.contact {
  align-self: center;
}

@media only screen and (max-width: 821px) {
  .title {
    align-self: center;
  }

  .Nav {
    justify-content: center;
    max-width: 100%;
  }
  .Nav h3 {
    display: hidden;
    position: absolute;
    left: -999em;
  }

  .logo {
    max-height: 80%;
  }

  .Nav .title {
    /* font-size: smaller; */
    display: hidden;
    display: hidden;
    position: absolute;
    left: -999em;
  }
  .Nav .contact {
    display: hidden;
    position: absolute;
    left: -999em;
    padding-bottom: 10vh;
  }

  .soundToggle__desktop {
    display: hidden;
    position: absolute;
    left: -999em;
  }
}
