.App {
  text-align: center;
  background-color: #0f376c;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #f8e4e7;
  text-decoration: none;
}
a:hover {
  color: #ffdd59;
}

a:visited {
  text-decoration: none;
}

/* //// Mobile ///// */
.emotiv {
  max-width: 40%;
}

.Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Section-reverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Section__text {
  padding: 10vh;
}

.Section__text h1 {
  color: #ffdd59;
}

.soundToggle__mobile {
  display: hidden;
  position: absolute;
  left: -999em;
}

@media only screen and (max-width: 600px) {
  .soundToggle__mobile {
    display: relative;
    position: relative;
    left: 0em;
    padding-top: 5vh;
    color: #ffdd59;
  }

  .Section {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Section-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
