.App {
  text-align: center;
  background-color: #0f376c;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #f8e4e7;
  text-decoration: none;
}
a:hover {
  color: #ffdd59;
}

a:visited {
  text-decoration: none;
}

/* //// Mobile ///// */
.emotiv {
  max-width: 40%;
}
